.toggle{
    /*display:none; */
}

.container{
    margin-top:20px;
}


img {
    display:block;
    margin:auto;
    border: 1px solid black;
}

hr{
    border: 1px solid red;
}


a{
    color:black;
}

a:hover{
    color:red;
}

img {
    display:block;
    margin:auto;
    border: 1px solid black;
}

.cardHeading{
    padding: 8px;
    color: white;
    text-align: center;
    background-color: red;
}

.cardText{
    text-align: center;
}

.card{
    padding: 10px;
    /*border: 2px solid black;*/
    float: right;
}
.card-img-top:hover, .card-text:hover{
    border-color: red;
}

ul li:not(:last-child) {
    border-right:1px solid red;
    margin-right:20px;
    padding-right:20px;
}

ul li.noLine{
    border: none;
}

.row{
    padding:20px 0px 20px 20px;
}

.footer{
    background-color: lightgrey;
}

.footer-content{
    text-align: center;
}
.links{
    text-align: right;
}

.tree{
    border:none;
    height: 100px;
    width:100px;
    display:inline;
}

.align{
    float: left;
}